body {
    width: 250px;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #1A1F25;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.preview-button img {
    width: 24px;
}

.device-selector {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 18px;
    color: #F5F7FA;
    margin: 0 0 16px;
    text-align: center;
}

.preview-button {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.preview-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-button.selcted {
    background-color: #f0f0f0;
    border-color: #333;
    font-weight: 500;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(246, 244, 244, 0.949);

}

.preview-button.selected:hover {
    background-color: #e8e8e8;
}